.button {
  background: rgba(255, 202, 101, 0.3);
  border-radius: 200px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
    text-align: center;
}

.button:hover {
    background: rgba(255, 202, 101, 0.6);
}

.text {
  color: #3f4e65;
  font-weight: 600;
  font-size: 10px;
  margin-left: 5px;
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  .container {
      display: none;
  }
}

