.container {
    width: 263px;
    height: 59px;
    background-color: #EDEDED;
    border-radius: 36px;
    display: flex;
    justify-content: space-between;
    padding: 13px 10px 13px 20px;
}

.input {
    border: none;
    background-color: #EDEDED;
}

.input::placeholder {
    color: #5C6370;
}

.button {
    background-color: #FFC85E;
    border: none;
    border-radius: 1000px;
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 200, 94, .8);
}