.headerPart {
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    justify-content: center
}

.part {
    font-weight: 600;
    font-size: 12px;
    color: #3F4E65;
    cursor: pointer;
}

.part:hover {
    text-decoration: underline;
}

.part img {
    margin-right: 6px;
}

.part:first-child {
    padding-right: 45px;
    border-right: 1px dashed rgba(63, 78, 101, .1);
}

.part:last-child {
    padding-left: 45px;
}

@media (min-width: 1000px) {
    .headerPart {
        display: none;
    }
}